.footer {
    width: 880px;
    margin: 0 auto 60px; 
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 420px;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        width: 282px;
        margin-bottom: 36px;
    }
}