.header__button {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #A9A9A9;
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    background: transparent;
}